.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.carsBlock {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .carsBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .carsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .carsBlock {
    grid-template-columns: 1fr;
  }
}
